.tab_item
{
	background: #f4f4f4;
    width: 50%;
    height: 150px;
    font-size: 80px;
    text-align: center;
    border-style: solid;
    border-color: #999999;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 新宋体;
    line-height: 150px;
}

.active_tab
{
	background: #dedede;
}

.login_view
{
	border-radius: 30px;
    width: 700px;
    height: 400px;
    background: hsl(0, 0%, 96%);
	margin:120px auto;
	padding-top: 20px;
}

.login_input
{
    background: #dedede;
    height: 100px;
    font-size: 60px;
    width: 500px;
    border: none;
	border-radius: 30px;
	margin:10px 0;
	text-align: center;
}

.input_button
{
	background-color: #76ABCD;
	color: #ffffff;
	width: 200px;
	height: 100px;
	font-size: 42px;
	border: none;
	border-radius: 30px;
}

.user_name
{
	display: block;
	font-size: 52px;
	color: #887B77;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

.error
{
	font-size: 50px;
	color: red;
	display: block;
	font-weight: bold;
}

.shop_text
{
	background: rgba(220,220,220,0.42);
    width: 600px;
    height: 150px;
    display: block;
    border: none;
    border-radius: 30px;
    font-size: 60px;
    text-align: center;
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 130px;
}

.shop_input
{
	border: none;
    border-radius: 30px;
    background: rgba(222,222,222,0.42);
    font-size: 60px;
    width: 600px;
    height: 150px;
    margin-left: 75px;
    margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
}

.shop_button
{
	border: none;
    border-radius: 30px;
    background: rgba(15,149,255,0.42);
    width: 200px;
    height: 150px;
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.shop_back_button
{
	border: none;
    border-radius: 30px;
    background: rgba(15,149,255,0.42);
    width: 200px;
    height: 150px;
    font-size: 60px;
    display: block;
    margin-left: 75px;
    margin-top: 15px;
    margin-right: 0px;
    float: left;
}

.shop_name
{
	background: rgba(220,220,220,0.42);
    width: 600px;
    height: 150px;
    display: block;
    float: right;
    border: none;
    border-radius: 30px;
    font-size: 60px;
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 70px;
    line-height: 130px;
}

.shop_cargo_name
{
	background: rgba(222,222,222,0.42);
    font-size: 60px;
    width: 200px;
    height: 100px;
    border: none;
    text-align: center;
    border-radius: 30px;
    margin-left:75px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

.shop_cargo_size
{
	background: rgba(222,222,222,0.42);
    font-size: 60px;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin: 25px 25px;
    display: inline-block;
    text-align: center;
}

.shop_cargo_notice
{
	background: red;
    font-size: 60px;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 30px;
    margin: 25px 25px;
    color: white;
    display: inline-block;
    text-align: center;
}

/* .shop_cargo_input
{

}

.shop_cargo_button
{

} */

.shop_select
{
	width: 240px;
	height: 90px;
	font-size: 45px;
	font-weight: bold;
	float: left;
	background-color: #CCCCCC;
    padding-left: 6px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    border: none;
}

.cargo_add
{
	width: 160px;
    height: 100px;
    font-size: 42px;
    outline: none;
    border: none;
    vertical-align: middle;
    background-color: #FADD6B;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 20px;
}

.cargo_submit
{
	width: 160px;
    height: 100px;
    font-size: 42px;
    outline: none;
    border: none;
    vertical-align: middle;
    background-color: #FADD6B;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 20px;
}

.cargo_select
{
    width: 240px;
    height: 60px;
    font-size: 40px;
    background-color: #CCCCCC;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
}

.cargo_size_input
{
	width: auto;
    height: 60px;
    font-size: 40px;
    border: none;
    margin-left: 10px;
    background-color: #CCCCCC;
    color: #ffffff;
    padding-top: 6px;
    padding-left: 5px;
}