.tab_item
{
	background: #f4f4f4;
    width: 50%;
    height: 150px;
    font-size: 80px;
    text-align: center;
    border-style: solid;
    border-color: #999999;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 新宋体;
    line-height: 150px;
}

.active_tab
{
	background: #dedede;
}

.login_view
{
	border-radius: 30px;
    width: 700px;
    height: 400px;
    background: hsl(0, 0%, 96%);
	margin:120px auto;
	padding-top: 20px;
}

.login_input
{
    background: #dedede;
    height: 100px;
    font-size: 60px;
    width: 500px;
    border: none;
	border-radius: 30px;
	margin:10px 0;
	text-align: center;
}

.input_button
{
	background-color: #76ABCD;
	color: #ffffff;
	width: 200px;
	height: 100px;
	font-size: 42px;
	border: none;
	border-radius: 30px;
}

.user_name
{
	display: block;
	font-size: 52px;
	color: #887B77;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

.error
{
	font-size: 50px;
	color: red;
	display: block;
	font-weight: bold;
}

.shop_text
{
	background: rgba(220,220,220,0.42);
    border: none;
    border-radius: 20px;
    height: 150px;
    width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
	margin-left: 75px;
	font-size:60px;
	display: block;
}

.shop_input
{
	border: none;
    border-radius: 30px;
    background: rgba(222,222,222,0.42);
    font-size: 60px;
    width: 600px;
    height: 150px;
    margin-left: 75px;
}

.shop_button
{
	border: none;
    border-radius: 30px;
    background: rgba(15,149,255,0.42);
    width: 200px;
    height: 150px;
    font-size: 60px;
    margin: 0 15px;
}

.shop_back_button
{
	border: none;
    border-radius: 30px;
    background: rgba(15,149,255,0.42);
    width: 200px;
    height: 150px;
    font-size: 60px;
}

.shop_name
{

}

.shop_cargo_name
{

}

.shop_cargo_size
{

}

.shop_cargo_notice
{

}